<%=render :partial=>"layouts/header"%>
<%=render :partial=>"layouts/left_panel"%>
<section class="main-content-wrapper column">
    <section id="main-content">
         <div class="row">
            <div class="col-md-12">
                <%= render :partial => "layouts/breadcrumb", :locals => {:breadcrumb => @breadcrumb}%>
            </div>
        </div>

      <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Manage Influencers List</h3>
                    <div class="actions pull-right">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                  </div>
                  <div class="panel-body">
                      <div class="table-responsive">
                    <table id="example" class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>facebook_page_count</th>
                            <th>facebook_page_id</th>
                            <th>Publishing Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <%@influencers.each do |influencer|%>
                        <tr id="row_<%=influencer.id%>">
                            <td><%=influencer.name%></td>
                            <td><%=influencer.email%></td>
                            <td><%=influencer.social_account.facebook_page_count rescue nil%></td>
                            <td><%=influencer.social_account.platform_type_id rescue nil%></td>
                            <td><%=influencer.publishing_price.present? ? "$ "+influencer.publishing_price : "Not provided" %></td>
                            <td>
                              <!-- <a href="#" class="green"><i class="fa fa-edit" title="Edit"></i></a> -->
                              <a href="#" onclick="delete_influencer(<%=influencer.id%>)" class="red"><i class="fa fa-trash" title="Delete"></i></a>
                            </td>
                        </tr>
                        <%end%>
                    </tbody>
                </table>
              </div>
                <!-- Pagination -->
                <!-- <div class="row">
                  <div class="col-xs-6">
                      <div class="dataTables_info" id="">Showing 1 to 10 of 57 entries</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="dataTables_paginate paging_bootstrap pull-right">
                        <ul class="pagination">
                              <li class="prev disabled"><a href="#">← Previous</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li class="next"><a href="#">Next → </a></li>
                          </ul>
                        </div>
                    </div>
                </div> -->
                <%=will_paginate @influencers%>
                <%= page_entries_info @influencers%>
               </div>
             </div>
        </div>
    </div>

    </section>
 </section>
<script>
function delete_influencer(influencer_id){
  event.preventDefault();
  $.ajax({
    url:  "/influencers/"+influencer_id,
    type: "DELETE",
    success: function (response){
      if(response["success"] == true){
        toastr.success("Successfully Deleted");
        $("#row_"+influencer_id).hide(500);
      }
    }
  })
}
</script>
