<aside class="sidebar column">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li class="active">
                <a href="<%=root_path%>"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
            </li>
            <li>
                <a href="<%=manage_influencer_admins_path%>"><i class="fa fa-user"></i><span>Manage influencer</span></a>
            </li>
            <li>
                <a href="<%=manage_advertiser_admins_path%>"><i class="fa fa-user"></i><span>Manage advertiser</span></a>
            </li>
            <!-- <li>
                <a href="<%#=social_accounts_admins_path%>"><i class="fa fa-users"></i><span>Social Accounts</span></a>
            </li> -->
            <li>
                <a href="<%=ad_review_admins_path%>"><i class="fa fa-pencil-square-o"></i><span>Ad Review</span></a>
            </li>
            <li>
                <a href="<%=reported_ads_admins_path%>"><i class="fa fa-bar-chart"></i><span>Reported Ads</span></a>
            </li>
            <li>
                <a href="<%=app_configurations_admins_path%>"><i class="fa fa-cog"></i><span>APP Configurations</span></a>
            </li>
            <li>
                <a href="<%=news_letters_path%>"><i class="fa fa-bullhorn"></i><span>Newsletter</span></a>
            </li>
            <li>
                <a href=" "><i class="fa fa-usd"></i><span>Change Fees</span></a>
            </li>
            <li>
                <a href=""><i class="fa fa-cogs"></i><span>Social Accounts Integration</span></a>
            </li>
        </ul>
    </div>
</aside>
